*{
    padding:0;
    margin:0;
}
a{
    text-decoration:none;
}
li{
    list-style:none;
}
input{
    outline: none;
    border: none;
}
body{
    overflow-x:hidden;
}
.whole{
    background-color:#FFFAF4;
    margin:0 auto;
    width:100%;
    margin:0 auto;
}
.before{
    position: absolute;
    top:0;
    width:100%;
    height:68px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 25px 0px rgba(118,118,118,0.5);
    z-index: 1;
}
.logo {
    display: inline-block;
    position:absolute;
    width:180px;
    height:58px;
    padding-left:15%;
}
.nav01{
    position: absolute;
    padding-left:25%;
    margin:16px 40px 0 0px;
}
.nav01 ul li{
    float:left;
    margin:0 77px;
}
.nav01 ul li a{
    display:block;
    padding:0 10px;
    height:40px;
    line-height:40px;
    font:900 18px Microsoft YaHei;
    color:rgba(5,5,5,1);
}
.nav01 a:hover{
    border-bottom:3px solid rgba(255,140,0,1);
}
.search{
    display: inline-block;
    padding-left: 53%;
    height: 60px;
    width: 200px;
}
#sit{
    position:absolute;
    width:80px;
    height:40px;
    border:1px solid rgba(255,140,0,1);
    font:400 14px Microsoft YaHei;
    color:#000;
    line-height:31px;
    margin-top:10px;
    margin-left:260px;
    outline: none;
}
.search .form01 input{
    position:absolute;
    width:180px;
    height:38px;
    border:1px solid rgba(255,140,0,1);
    font:400 14px Microsoft YaHei;
    color:#000;
    line-height:31px;
    margin:10px 0 0 339px;
    padding-left:21px;
}
.search .form02 input{
    position:absolute;
    float:left;
    width:40px;
    height:40px;
    border:1px solid rgba(255,140,0,1);
    font:400 14px Microsoft YaHei;
    color:#000;
    margin:10px 0 0 512px;
}
.user{
    float:right;
    padding:18px 35px 0 0px;  
}
.user ul{
    float:right;
}
.user ul li{
    float:right;
    margin:10px 12px;
    height:40px;
    line-height:50px;
    font:600 13px Microsoft YaHei;
    color:#6B74E6;
}
.up{
    display: none;
    position: fixed;
    right:110px;
    bottom: 120px;
    z-index: 1;
}
#wrongtemp{
    width: 340px;
    margin: 120px 15px;
    border:15px solid rgba(243, 229, 204, 0.884);
    z-index: 2;
    position: absolute;
    background-color: blanchedalmond;
    left:570px;
}
#wrongborder {
    line-height: 1.5em;
}
#wrongborder h1 {
    height: 39px;
    background: url(./img/bg.jpg);
    font:1000 25px "楷体";
    color:black;
    line-height: 39px;
    text-align: center;
    letter-spacing: 2px;
}
#wrongborder img{
    position: absolute;
    top:7px;
    right:8px;
    width: 13px;
    height: 15px;
}
#wtxt {
    width: 100%;
    height: 170px;
    font:600 21px  "楷体";
    margin: 0px auto;
    letter-spacing: 1.3px;
}
.wbtn {
    width: 150px;
    height: 40px;
    font: 800 15px "黑体";
    float: right;
    background-color: blanchedalmond;
    margin: 20px 90px;
} 
#contributetemp{
    width: 340px;
    margin: 120px 15px;
    border:15px solid rgba(243, 229, 204, 0.884);
    z-index: 2;
    position: absolute;
    background-color: blanchedalmond;
    left:570px;
}
#contibuteborder {
    line-height: 1.5em;
}
#contibuteborder h1 {
    height: 39px;
    background: url(./img/bg.jpg);
    font:1000 25px "楷体";
    color:black;
    line-height: 39px;
    text-align: center;
    letter-spacing: 2px;
}
#cclose{
    position: absolute;
    top:7px;
    right:8px;
    width: 13px;
    height: 15px;
}
#ctxt {
    width: 100%;
    height: 170px;
    font:600 21px  "楷体";
    margin: 0px auto;
    letter-spacing: 1.3px;
}
.cbtn {
    width: 150px;
    height: 40px;
    font: 800 15px "黑体";
    float: right;
    background-color: blanchedalmond;
    margin: 20px 90px;
} 
.banner{
    margin-top:120px;
    width:100%;
    height:360px;
}
.banner .banner02{
    position:absolute;
    width:100%;
    height:27px;
    padding-left:218px;
}
.banner .nav02{
    position:relative;
    margin-top:30px;
    margin-left:8px;
    width:210px;
    height:320px;
    background:rgb(250, 249, 249);
    box-shadow:0px 2px 25px 0px rgba(165, 164, 164, 0.6);
}
.banner .nav02 ul li{
    display:block;
    text-align: center;
    height:80px;
    line-height:45px;
    font:400 16px Microsoft YaHei;
    color:#6B74E6;
    margin-top: 12px;
}
.nav02 ul li a{
    text-align: center;
    display:block;
    height:40px;
    line-height:40px;
    font:900 18px Microsoft YaHei;
    color:rgba(5,5,5,1);
}
.nav02 a:hover{
    color:black;
    width: 210px;
    border-bottom:3px solid rgba(255,140,0,1);
    background:antiquewhite;
}
.banner .form03{
    position:absolute;
    margin:30px 0 0 850px;
    border:3px solid #fff;
    box-shadow:0px 0px 5px 0px rgba(118,118,118,1);
    padding:10px;
}
.form03 table tr td{
    height:20px;
    font:600 30px Microsoft YaHei;
    color:darkorange;
}
.then{
    position: absolute;
    top:520px;
    width:100%;
    height:66px;
    line-height:40px;
}
.doctor{
    width:100%;
    height:66px;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 3px 0px rgba(118,118,118,0.2);
    line-height:810px;	
}
.doctor01{
    width:100%;
    height:40px;
}
.doctor01 h1{
    font:400 36px Microsoft YaHei;
    color:darkorange;
    margin: 0 auto;
    line-height:53px;
}
.doctor02{
    margin-left: 80px;
    width: 100%;
    height:120px;
}
.doctor02 .clear ul li{
    float:left;
    width:238px;
    height:500px;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 5px 0px rgba(118,118,118,0.5);
    margin:40px 20px 15px 0;
}
.doctor02 .clear ul li img{
    width:100%;
}
.doctor02 .clear ul li p{
    width:205px;
    height:100px;
    font:400 16px Microsoft YaHei;
    color:rgba(5,5,5,1);
    line-height:26px;
    margin:0 15px;
}
.doctor02 .clear .learn01{
    float:left;
    width:218px;
    height:130px;
    font-size:12px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:#999999;
    background:rgba(255,255,255,1);
}
.doctor02 .clear .learn01 span{
    margin:20px 0 0 20px;
    font:800 19px Microsoft YaHei;
    color:rgba(5,5,5,1);
}
.doctor02 .clear .learn02{
    float:left;
    width:218px;
    height:130px;
    font-size:12px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:#999999;
    background:rgba(255,255,255,1);
}
.doctor02 .clear .learn02 span{
    margin:20px 0 0 20px;
    font:800 19px Microsoft YaHei;
    color:rgba(5,5,5,1);
}
.doctor02 .clear .learn03{
    float:left;
    width:218px;
    height:130px;
    font-size:12px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:#999999;
    background:rgba(255,255,255,1);
}
.doctor02 .clear .learn03 span{
    margin:20px 0 0 20px;
    font:800 19px Microsoft YaHei;
    color:rgba(5,5,5,1);
}
#wrap {
    display: inline-block;
    float: left;
    left:1100px;
    width: 300px;
    margin: 120px 15px;
    border:15px solid rgba(243, 229, 204, 0.884);
    z-index: 2;
}
#mark {
    line-height: 1.5em;
}
#mark h1 {
    height: 39px;
    background: url(./img/bg.jpg);
    font:1000 20px "楷体";
    color:black;
    line-height: 29px;
    padding-left: 20px;
    letter-spacing: 2px;
}
#pic {
    margin: 10px 0px;
}
#txt {
    width: 100%;
    height: 170px;
    font:600 21px  "楷体";
    margin: 0px auto;
    letter-spacing: 1.3px;
}
.btn {
    width: 150px;
    height: 40px;
    font: 800 15px "黑体";
    float: right;
    background-color: blanchedalmond;
    margin: 20px 70px;
}
.last{
    width:100%;
    height:507px;
    margin:850px 0 0 2px;
    background:#FFF;
}
#protect1 {
    width: 150px;
    height: 40px;
    font: 800 15px "黑体";
    float: right;
    background-color: blanchedalmond;
    margin: 20px 90px;
} 
#protect2 {
    width: 150px;
    height: 40px;
    font: 800 15px "黑体";
    float: right;
    background-color: blanchedalmond;
    margin-left: 90px;
    margin-right:90px;
} 
.last .left{
    float:left;
    width: 350px;
    padding-left: 150px;
}
.last .left img{
    width:187px;
    padding-top:60px;
}
.left01{
    font-size:17px;
    font-family:Microsoft YaHei;
    font-weight:900;
    color:rgba(5,5,5,1);
    padding: 25px 10px;
}
.app{
    color:rgba(0,164,255,1);
    width:63px;
    height:15px;
    border:1px solid #FF8C00;
    background:darkorange;
    font:400 17px Microsoft YaHei;
    color:rgba(255,255,255,1);
    padding:16px 25px 18px 25px;
    text-align:center;
    line-height:80px;
}
.last .right01{
    position:absolute;
    width:400px;
    float:left;
    margin-left:357px;
}
.right01 p{
    width:85px;
    height:17px;
    font:600 21px Microsoft YaHei;
    color:rgba(51,51,51,1);
    line-height:21px;
    margin:60px 0 10px 155px;
}
.right01 ul li a{
    float:left;
    width:155px;
    margin:10px 0 0 155px;
}
.last .right02{
    position:absolute;
    width:115px;
    float:left;
    margin-left:757px;
}
.right02 p{
    width:85px;
    height:17px;
    font:600 21px Microsoft YaHei;
    color:rgba(51,51,51,1);
    line-height:21px;
    margin:60px 0 10px 0;
}
.right02 ul li a{
    float:left;
    width:155px;
    margin-top:12px;
}
.last .right03{
    position:absolute;
    width:115px;
    float:left;
    margin-left:957px;
}
.right03 p{
    width:85px;
    height:17px;
    font:600 21px Microsoft YaHei;
    color:rgba(51,51,51,1);
    line-height:21px;
    margin:100px 0 10px 0;
}
.right03 ul li a{
    float:left;
    width:155px;
    margin-top:12px;
}
.rule{
    padding:365px 0 0 400px;
}